@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n0mzcv');
  src:  url('../fonts/icomoon.eot?n0mzcv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n0mzcv') format('truetype'),
    url('../fonts/icomoon.woff?n0mzcv') format('woff'),
    url('../fonts/icomoon.svg?n0mzcv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-edge:before {
  content: "\eadc";
}


html,body{
	font: 1em "微软雅黑";
}
#works{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-align-content: space-around;
	    -ms-flex-line-pack: distribute;
	        align-content: space-around;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.project{
	padding: .5em 0;
	min-width: 300px;
	-webkit-filter:grayscale(1);
	-moz-background-size: 101% auto;
	  -o-background-size: 101% auto;
	     background-size: 101% auto;
	background-position: 50% 50%;
	min-height: 160px;
	background-repeat: no-repeat;
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	   -moz-box-orient: vertical;
	   -moz-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-align-content: space-around;
	    -ms-flex-line-pack: distribute;
	        align-content: space-around;
	background-color: #000;
	color: #fff;
	font-size: .875em;
	-webkit-transition: .3s;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	cursor: pointer;
	margin: .2em;
	overflow: hidden;
}
.project:hover{
	-webkit-filter:grayscale(0);
	        filter:grayscale(0);
	-moz-background-size: 105% auto;
	  -o-background-size: 105% auto;
	     background-size: 105% auto;
}
.project > div{
	width: 100%;
	background-color: rgba(0,0,0,.6);
}
.project:hover > div{
	background-color: rgba(0,0,0,.95);
}
.project .name{
	padding-top: .4em;
	padding-left: .4em;
	cursor: default;
}

.images{
	display: none;
}
.btn{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	   -moz-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start
}
.brand{

	padding-left: .7em;
}
.link,.btn-showImages{
	cursor: pointer;
	text-decoration : none;
	color: #fff;
}
.year{
	padding-left: 1em;
	font-size: .75em;
}

#cboxLoadedContent {
    background: #000;
}

.link-mobile{
	position: relative;
}
.tips{
	cursor: default;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: .2em;
	position: relative;
}
.tips .link{
	position: absolute;
	right: .4em;
	bottom: -1.2em;
	color: #fff;
	-webkit-transition: .3s;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	opacity: .5;
}
.project:hover .tips .link{
	-webkit-transition-delay: .3s;
	   -moz-transition-delay: .3s;
	     -o-transition-delay: .3s;
	        transition-delay: .3s;
	color: #eee;
	opacity: 1;
	bottom: 1em;
}
.project:hover .tips .link:hover{
	/*color: #0166bf;*/
	color: #00daff;
}

@media screen and (max-width:600px) {
	.tips .link{
		opacity: 1;
		bottom: 1em;
	}
}